SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SCOPES=write_app_proxy,write_online_store_navigation'
SHOPIFY_APP_URL=
UPSTASH_REDIS_REST_URL="https://bold-stag-81799.upstash.io"
UPSTASH_REDIS_REST_TOKEN=
DB_URL=
DB_DIRECT_URL=
VITE_CONTACT_EMAIL=
VITE_APP_URL=
VITE_GA_ID=
RESEND_KEY=